/*
Font Link: <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
Primary Font: (Lato) font-family: 'Lato', sans-serif;
Secondary Font: (Kumbh Sans) font-family: 'Kumbh Sans', sans-serif

Primary Color:
Secondary Color (1): rgb(227, 85, 8)
Secondary Color (2):
tertiary color (1):
tertiary color (2):

Black: rgb(11, 11, 11)
White: rgb(251, 251, 251)

*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Kumbh Sans' sans-serif;
}

.section-1 {/* Background for 1st Section (Main Page)*/
	background: url('./Images/giammarco-boscaro.jpg');
	width: 100%;
	background-size: cover;
	height: 100vh;
	background-position: center;
}


/*-------------------------------------------------------------------header-------------------------------------------------------------------*/
header {
	display: grid;
	grid-template-columns: 1fr 4fr 5fr;
	grid-template-rows: 5%;
	grid-template-areas: "logo search nav";
	padding: 50px;
	align-items: flex-start;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 500ms;
}

nav{
	margin-right: 50px 50px;
	grid-area: nav;
	position: absolute;
	right: 5%;
 }
 nav a {
	display: inline-block;
	margin-left: 25px;
	font-size: 16px;
	text-decoration: none;
	font-family: sans-serif;
	color: #eee;
	text-transform: uppercase;
	border-bottom:  2.5px solid transparent;
	padding: 5px 1px;
	transition: 200ms;
 }

 nav a:hover {
	border-color: rgb(227, 85, 8);
 }

 .active {
	border-color: rgb(227, 85, 8);
}

.logo {
    grid-area: logo;
	text-decoration: none;
	font-size: 35px;
	font-family: sans-serif;
	margin-left: 70px 70px;
	color: rgb(251,251,251);
	transition: 500ms;
 }

 .logo:hover{
	transition: 500ms;
	color: rgba(227, 85, 8, 0.8);
}

.search-grid{
	grid-area: search;
	/*border: 2px solid green ;*/
	position: relative;
	left: 11%;
	size: 700px;
	/*Size specified for 1280px width*/
	/*border: 2px solid green;*/
}

/*-------------------------------------------------------------------header search box-------------------------------------------------------------------*/

.search-box {
    position: absolute;
	right: 0%;
	top: -2px;
	background: rgba(43, 51, 63, 0.8);
    height: 50px;
    border-radius: 50px;
	padding: 5px;
	transform: translate(-1% , 0%);
	transition: 500ms;

 }
   
 .search-box:hover > .search-txt {
    width: 400px;
	padding: 0px 10px;
 }
   
 .search-box:hover > .search-btn {
    background: rgba(47, 54, 64, 0.8);   
	color: rgb(227, 85, 8);
	
 }
   
 .search-btn {
    color: #ffffff;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(47, 54, 64, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
	cursor: pointer;
 }
   
 .search-btn > i {
    font-size: 20px;
    background: rgba(47, 54, 64, 0.8);
 }
   
 .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    text-align: left;
    color: #ffffff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
	font-weight: normal;
 }

 .search-txt::selection{
	color: rgb(251,251,251);
	background: rgba(227, 85, 8, 0.8);
}

/*-------------------------------------------------------------------scroll_background_header-------------------------------------------------------------------*/

.bgc {
	background: rgba(20, 20, 20, 1);
	padding: 15px;
 }

 .bgc nav {
	position: absolute;
	right: 10%;
 }

 .bgc nav a {
	color: rgb(251,251,251);
 }

 .bgc .logo {
	font-size: 30px;
	color: rgb(227, 85, 8);
	padding: 5px 5px;
	margin-left: 10px;
	text-decoration: none;
 }

 .bgc .logo:hover{
	color: rgb(251,251,251);
	transition: 500ms;
 }

 .bgc .search-box {
	padding: 5px;
	position: absolute;
	right: 0%;
	top: -6px;
	transition: 450ms;
}

/*-------------------------------------------------------------------main_page_text-------------------------------------------------------------------*/

.main-txt{
	color: rgb(251,251,251);
	position: absolute;
	top: 20%;
	right: 47%;
	font-size: 40px;
	margin: 70px;
	transition: 400ms;
 }

 .exp-now{
	display: inline-block;
	font-size: 40px;
	background: none;
	border: 2px solid rgb(227, 85, 8);
	color: rgb(251,251,251);
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	font-size: 16px;
	text-decoration: none;
	transition: 500ms;
	cursor: pointer;
 }

 .exp-now:hover {
	background: rgba(227, 85, 8, 0.8);
	border: 2.1px solid rgba(47, 54, 64, 0.8);
	transition: 500ms;
 }

 .exp-now2{
	display: inline-block;
	font-size: 40px;
	background: none;
	border: 2px solid rgb(227, 85, 8);
	color: rgb(227, 85, 8);
	padding: 8px 30px;
	margin: 30px 50px;
	border-radius: 30px;
	font-size: 16px;
	text-decoration: none;
	transition: 500ms;
	cursor: pointer;
 }

 .exp-now2:hover {
	background: rgba(227, 85, 8, 0.8);
	color: #eee;
	transition: 500ms;
 }

 #sec2{
	 transition: 500ms;
 }

 .fade-out{
	opacity: 0;
	transition: 300ms;
}

/*-------------------------------------------------------------------main-------------------------------------------------------------------*/

.subsec2 {
	margin-top: 50px;
}

.section-2 {
	padding: 20px;
	padding-left: 60px;
}
.section-2 h1 {
	padding: 20px;
	font-size: 40px;
}
.section-2 p {
	padding: 20px;
	line-height: 1.8em;
	font-size: 18px;
}

/*-------------------------------------------------------------------footer-------------------------------------------------------------------*/

.footer{
	grid-area: footer;
	width: 100%;
	z-index: 2;
	background: rgba(20, 20, 20, 1);
	display: block;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	height: 345px;
	border-top: 2px solid rgb(227, 85, 8);
}

.inner-foot{
	width: 95%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;

}

.footer-items{
	width: 30%;
	padding: 10px 20px;
	box-sizing: border-box;
}

#col1{
	width: 17%;
}

#col2{
	width: 23%;
}

.footer-items h1 a {
	text-decoration: none;
	color: rgb(227, 85, 8);
	font-size: 35px;
	font-family: sans-serif;
	padding: 10px 0;
}

.footer-items h1 {
	text-decoration: none;
	color: rgb(227, 85, 8);
	font-size: 20px;
	font-weight: normal;
	padding: 10px 0;
}

.footer-items p{
	margin: 10px 0px;
	color: rgb(251,251,251);
	font-size: 16px;
	text-align: justify;
	line-height: 20px;
}

.footer-items h2 {
	margin: 10px 0;
	color: rgb(227, 85, 8);
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

.border-foot{
	height: 2px;
	width: 40px;
	background: rgb(251,251,251);
}

.footer-items ul{
	list-style: none;
	color: rgb(251,251,251);
	font-size: 15px;
	letter-spacing: 0.5px;
}

.footer-items ul a{
	text-decoration: none;
	outline: none;
	color: rgb(251,251,251);
	transition: 500ms;
}

.footer-items ul a:hover{
	color: rgba(227, 85, 8, 0.8);
	transition: 500ms;
}

.footer-items ul li{
	margin: 10px 0;
	height: 20px;
}

.footer-items ul li i{
	margin-right: 20px;
}

.social{
	width: 100%;
	color: rgb(251,251,251);
	text-align: center;
	flex: auto;
	padding: 15px 0px;
}

.social a{
	text-decoration: none;
}

.social i{
	flex-direction: column;
	height: 36px;
	width: 40px;
	margin: 20px 5px;
	padding: 10px 12px;
	color: rgb(251,251,251);
	border-radius: 50%;
	border: 2px solid rgb(227, 85, 8);
	transition: 500ms;
}

.news-form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.txtbox{
	flex: 1 1 80%;
	padding: 15px 20px;
	font-size: 16px;
	font-weight: 700;
	background: #ddd;
	color: rgb(227, 85, 8);
	border: none;
    border-radius: 50px;
	min-width: 300px;
}

.txtbox:focus{
	outline: none;
}

.sub-btn{
	padding: 10px 20px;
	margin: 10px 0;
	font-size: 16px;
	font-weight: 700;
	background: rgba(20, 20, 20, 1);
	color: rgb(251,251,251);
	border: 2px solid rgb(227, 85, 8);
	border-radius: 30px;
	margin-left: 20px;
	cursor: pointer;
	transition: 500ms;
}

.sub-btn:hover{
	background: rgb(227, 85, 8);
	color: rgb(251, 251, 251);
	transition: 500ms;
}

.social i:hover{
	background: rgb(251,251,251);
	color: rgb(227, 85, 8);
}

.footer-bottom{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 10px;
	background: rgba(30, 30, 30, 1);
	color: rgb(251,251,251);
	border-top: 2px solid rgb(227, 85, 8);
	font-size: 12px;
}

.credits a{
	text-decoration: none;
	color: rgb(227, 85, 8);
}


::-webkit-scrollbar{
	width: 6px;
	background: rgba(43, 51, 63, 0.8);
	transition: 300ms;
}

::-webkit-scrollbar:hover{
	scrollbar-width: 4px;
	transition: 300ms;
}

::-webkit-scrollbar-track{
	box-shadow: inset 1px 1px rgba(47, 54, 64, 0.7);
}

::-webkit-scrollbar-thumb{
	width: 6px;
	background: rgb(227, 85, 8);
}

/*-------------------------------------------------------------------media queries-------------------------------------------------------------------*/

@media screen and (max-width: 1280px){
	.footer-items{
		width: 50%;
	}
}

@media screen and (max-width: 740px){
	.footer-items{
		width: 100%;
	}
}



@media (max-width: 1280px){
	body{
		display: none;
	}
}

@media (max-width: 1280px){
	body{
		display: none;
	}
}









/*----------------- Products ----------------- */

